arquivos_download/Cnaes.zip
arquivos_download/Motivos.zip
arquivos_download/Naturezas.zip
arquivos_download/Paises.zip
arquivos_download/Qualificacoes.zip
arquivos_extraidos/CNAE/CNAE_FORMATADO.csv
arquivos_extraidos/CNAE/F.K03200$Z.D50111.CNAECSV
arquivos_extraidos/EMPRE/K3241.K03200Y0.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y1.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y2.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y3.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y4.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y5.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y6.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y7.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y8.D50111.EMPRECSV.csv
arquivos_extraidos/EMPRE/K3241.K03200Y9.D50111.EMPRECSV.csv
arquivos_extraidos/ESTABELE/K3241.K03200Y0.D50111.ESTABELE.csv
arquivos_extraidos/ESTABELE/K3241.K03200Y1.D50111.ESTABELE.csv
arquivos_extraidos/ESTABELE/K3241.K03200Y2.D50111.ESTABELE.csv
arquivos_extraidos/ESTABELE/K3241.K03200Y3.D50111.ESTABELE.csv
